outli*{
  
}
.container{
    outline: 1px solid #dccca9;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.2fr auto;
    grid-template-rows: 1fr 2fr 100px 70px 2fr 0.5fr;
    background: #ff5fff;
font-family: 'Abril Fatface', cursive;
font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Courgette', cursive;
font-family: 'Neonderthaw', cursive;
font-family: 'Permanent Marker', cursive;
   
}
.photo{
    margin-top: 150px;
    margin-left: 45px;
    margin-right: 49px;
    width: 188px;
    height: 600px;
    grid-row: 2/6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.works{
    font-size: 25px;
    text-decoration: none;
    grid-column: 1/-1;
    word-spacing: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFE6A7;
    border-bottom: 3px solid #660708;
}
.about_me{
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFE6A7;
}
.skills{
    grid-row: 2/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF77FF;
    width: 72px;
}

.aestetick_block_2{
    background:#FF8EFF ;
    width: 150px;
    height: 70px;
}
.text{
  
    background: #FF99FF;
}
.block_{
    height: 70PX;
    background:#FF8EFF ;
}
.skills_2{
    grid-row: 2/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5px; 
    font-size: 20px;
    margin-top: 350px;
}

.text_2{
    margin-left: 170px;
    width: 60%;
    grid-row: 2/3;
    grid-column: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color:#A68A64;
}
.block_with_skills{
    margin-top:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;;
    align-items: center;
    
}
.css{

    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #FFA5FF;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #ff5fff;
    font-size: 40px;
}
.pug{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: #FFDDFF;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #ff5fff;
    font-size: 40px;
}
.html{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: #FFBBFF;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #ff5fff;
    font-size: 40px;   
}
.scss{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #FFA5FF;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #ff5fff;
    font-size: 40px;

}
.block_inst{
    display: flex;
    color: burlywood;
    justify-content: center;
    align-items: center;
}

.about_me_title{
    width: 50px;
}
.block_inst{
    margin-left: 100px;
    margin-bottom: 50px;
    background: #090f18;
}
.block_aestetick{
   background: #FF99FF; 
}
.title_abs{
    font-size: 50px;
}