outli*{
  
}
.container{
    outline: 1px solid #dccca9;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.2fr auto;
    grid-template-rows: 1fr 2fr 100px 70px 2fr 0.5fr;
    background: #0b090a;
   
}
.photo{
    width: 188px;
    height: 600px;
    grid-row: 2/6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.works{
    text-decoration: none;
    grid-column: 1/-1;
    word-spacing: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFE6A7;
    border-bottom: 3px solid #660708;
}
.about_me{
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFE6A7;
}
.skills{
    grid-row: 2/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #660708;
    width: 72px;
}

.aestetick_block_2{
    background:#6f1d1b ;
    width: 150px;
    height: 70px;
}
.text{
  
    background: #bb9457;
}
.block_{
    height: 70PX;
    background:#6f1d1b ;
}
.skills_2{
    grid-row: 2/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5px; 
    font-size: 20px;
    margin-top: 350px;
}

.text_2{
    margin-left: 170px;
    width: 60%;
    grid-row: 2/3;
    grid-column: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color:#A68A64;
}
.block_with_skills{
    margin-top:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;;
    align-items: center;
    
}
.css{

    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #432818;
}
.pug{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: #FFE6A7;
}
.html{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: #FFE6A7;   
}
.scss{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #432818;

}
.block_inst{
    display: flex;
    color: burlywood;
    justify-content: center;
    align-items: center;
}

.about_me_title{
    width: 50px;
}
.block_inst{
    margin-left: 100px;
    margin-bottom: 50px;
    background: #090f18;
}
.block_aestetick{
   background: #bb9457; 
}